.dropbtn

{
    background-color: inherit;
    color: gray;
    padding: 16px;
    font-size: 16px;
    border: inherit;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 200px;
    z-index: 1;
}

    .dropdown-content a {
        color: inherit;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: white;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

